ion-avatar {
  color: #FFF;
  background-color: #b3bf6f;
  display: flex;
  align-items:center;
  justify-content:center;
}

ion-avatar ion-icon {
  font-size: 20px;
}

.my-center {
  display: flex;
  align-items:center;
}

#currentCategoryAvatar {
    transition: background-color 1s, width 2s, height 2s;
}